.blog-div {
    display:flex;
    max-width: 100%;
    gap: 10px;
}

.blog-div img {
    width: 50%;
}

.hobby-div {
    display: flex;
    max-width: 100%;
    gap: 10px;
}

.hobby-div img {
    width: 30%;
}