.header,
.footer {
  flex: 0 0 auto;
}

.header,
.site-header {
  display: flex;
  justify-content: space-between;
}

.header {
  padding: 0 30px;
  background-color: $main-blue;
}

.header {
  img { 
    border: 4px double #fff;
  }

  a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    text-shadow: 1px 1px #000;
  }

  a:hover {
    color: $font-color;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 30px 80px;
  background-color: $main-blue;
  color: #fff;
  text-shadow: 1px 1px #000;
  

  a {
    color: #fff;
    text-shadow: 1px 1px #000;
  }

  a:hover {
    color: $footerhover;
  }
}

.footer .social {
  font-size: 2rem;
  text-decoration: none;
}

.social a {
  text-decoration: none;
  padding: 5px;
}

i {
  width: 2rem;
}

.nav div ul li a {
  color: $precolor;

  
  // font-weight: bolder;
  
  text-shadow: 1px 1px $boxtext;
}

.nav div ul li a:hover {
  color: $footerhover;
  // font-weight: bolder;
  // text-shadow: 1px 1px #fff;
}
