.landingpage {
  display: grid;
  gap: 1em 2em;
  margin-bottom: 100px;
}

.two-columns {
  display: flex;
}

.landingpage h1 {
  grid-column: span 3;
  justify-self: center;
}

.box {
  border: 1px solid rgb(215, 213, 213);
  padding: 1em;
  text-align: center;
}

.box a {
  text-decoration: none;
  font-weight: bold;
  color: #000;
}

.box a:hover {
  color: rgb(102, 102, 102);
  
}

.box:hover {
  background-color: rgb(169, 205, 227);
}

// .box-b,
// .box-c,
// .box-f {
//   grid-column: span 2;
// }

// .box-g {
//   grid-column: span 3;
// }

.link-list {
  margin-top: 45px;
  margin-right: 30px;
  padding: 20px;
  border-right: 2px solid #ccc;
  
}

.link-list {
  a {
    text-decoration: none;
    color: #444;
    
  }

  a:hover {
    color: rgb(76, 134, 170);
  }
}
