body {
  font-family: 'roboto flex', 'sans-serif';
  line-height: 1.5rem;
  color: $font-color2; 
}

p,
td,
th,
li,
dd {
  text-align: justify;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.6em;
  font-weight: bold;
  font-family: 'roboto', 'verdana';
}

p {
  margin-bottom: 10px;
}

.main h1 {
  border-bottom: 3px double $bordercolor;
  padding-bottom: 7px;
}

.main .post a {
  text-decoration: none;
  padding: 8px;
  color: $boxtext;
  border: 1px solid $border;
}

.main .post a:hover {
  color: $box-hover;
  background-color: $box-color;
}

.main .post {
  margin: 20px 20px 20px 0;
}
