$font-color: #111;
$font-color2: #444;
$box-hover: rgb(102, 102, 102);
$main-blue: rgb(76, 134, 170);
$box-color: #d9f0ff;
$border: #ccc;
$backgroundcolor: #fff;
$body-color: #fff;
$footerhover: #262e33;
$boxtext: #000;
$precolor: #f5f5f5;
$bordercolor: #ccc;
