$font-color: #fff;
$font-color2: #dfdfdf;
$box-hover: rgb(102, 102, 102);
$main-blue: rgb(18, 18, 18);
$box-color: #77b3d9;
$border: #ccc;
$backgroundcolor: #1e1e1e;
$body-color: #000;
$footerhover: rgb(76, 134, 170);
$border2: rgb(52, 96, 123);
$boxtext: #fff;
$precolor: rgb(79, 91, 99);
$bordercolor: #777777;
