{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main" role="main">
        <div class="landingpage two-columns">
            <div class="link-list">
                {% for page in pages("technologies")|sort_by("time")|reverse if not page.hidden %}
                <div class="post">
                    <h3><a href="{{ page.url }}">{{ page.title }}</a></h3>
                    <p class="date">{{ page.date_formatted }}</p>
                </div>
                
            {% endfor %}
        </div>
            <div class="main-content">
                {{ content }}
            </div>
            
        </div>
    </div>
    
    {% include 'incl/footer.twig' %}
</body>

</html>
